# Core Libraries
numpy
pandas

# Audio Feature Extraction
librosa
soundfile     # Required by librosa for loading mp3/wav files

# Machine Learning & Preprocessing
scikit-learn

# MongoDB Integration
pymongo

# Apache Spark
pyspark

# Web Application
Flask
